<div class="tab-pane fade" id="tab_profile" role="tabpanel">
    <div class="profile_table">
       <div class="vd_title_wrap">
          <h3>Profile</h3>
         
       </div>
       <div class="vd_shadow p-0">
          <div class="vd_table table-responsive">
             <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Profile</th>
                      <th>Edit</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td><span><strong>Company Name</strong></span></td>
                      <td><span>Fashion Store</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>Email Address</strong></span></td>
                      <td><span>Mark.Enderess@Mail.Com</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>Country/Region</strong></span></td>
                      <td><span>Downers Grove, IL</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>Year Established</strong></span></td>
                      <td><span>2018</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>Total Experience</strong></span></td>
                      <td><span>101 - 200 People</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>Category</strong></span></td>
                      <td><span>Clothing</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>Street Address</strong></span></td>
                      <td><span>549 Sulphur Springs Road</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>City/State</strong></span></td>
                      <td><span>Downers Grove, IL</span></td>
                   </tr>
                   <tr>
                      <td><span><strong>Zip</strong></span></td>
                      <td><span>60515</span></td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>